<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getdailymenufunc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/64ec67d3-6e89-44aa-81c5-62630c0d0005/resourceGroups/RecipesGroup/providers/Microsoft.Web/sites/GetDailyMenuFunc</ResourceId>
    <UserName>$GetDailyMenuFunc</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://getdailymenufunc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>